相比于numpy,更它用来处理表格型或异步质量型数据

两个常用的工具数据结构：Series、DataFrame
Series是一种一维数组型对象，包含数据标签 ,可简单理解为长度固定且有序的字典

In [4]:
import pandas as pd
obj = pd.Series([4,7,-5,3])
obj, obj.values, obj.index

(0    4
 1    7
 2   -5
 3    3
 dtype: int64,
 array([ 4,  7, -5,  3], dtype=int64),
 RangeIndex(start=0, stop=4, step=1))

In [7]:
obj2 = pd.Series([4, 7, -5, 3], index=['d','b','a','c'])
obj2, obj2.index, obj2['a']

(d    4
 b    7
 a   -5
 c    3
 dtype: int64, Index(['d', 'b', 'a', 'c'], dtype='object'), -5)

In [19]:
#可将字典键按照想要地顺序传给构造函数,可用isnull()函数检验
sdata = {'o':35000, 't':71000, 'or':16000, 'ut':5000}
states = {'c', 'o', 'or', 't'}
obj3 = pd.Series(sdata)
obj4 = pd.Series(sdata, index=states)
obj3, obj4, obj4.isnull()

(o     35000
 t     71000
 or    16000
 ut     5000
 dtype: int64, t     71000.0
 c         NaN
 o     35000.0
 or    16000.0
 dtype: float64, t     False
 c      True
 o     False
 or    False
 dtype: bool)

In [23]:
#为Series对象自身和其索引命名
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
t     71000.0
c         NaN
o     35000.0
or    16000.0
Name: population, dtype: float64

# DataFrame
表示的是矩阵的数据表，包含已排序的列的集合。
pd.DataFrame(data)

## 重建立索引

In [1]:
import pandas as pd
obj = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj

0      blue
2    purple
4    yellow
dtype: object

In [3]:
obj.reindex(range(6), method='ffill') #将值向前填充

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [8]:
import numpy as np
frame = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'], columns=['Ohio', 'Texas', 'California'])
states = ['Texas', 'Utah', 'California']
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [11]:
frame.loc[['a','b','c','d'], states]

C:\Users\14663\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

使用loc和iloc选择数据

In [13]:
data = pd.DataFrame(np.arange(16).reshape((4,4,)),
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                   columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [14]:
data.loc['Colorado',['two', 'three']]

two      5
three    6
Name: Colorado, dtype: int32

In [16]:
data.iloc[[1,2],[3,0,1]]

          four  one  two
Colorado     7    4    5
Utah        11    8    9

## 整数索引

In [28]:
ser =pd.Series(np.arange(3.))
ser[1]

1.0

In [22]:
ser.iloc[:1]

0    0.0
dtype: float64

apply将函数应用到一行或一列的一维数组上
applymap逐元素应用函数

## 排序和排名

按行或列索引进行字典序型排序：sort_index,默认升序
根据值排序：sort_values,还可对多列排序by=['a','b']
rank:返回序列中每个位置数字的排名

In [29]:
frame = pd.DataFrame({'b':[4.3, 7, -3, 2], 'a':[0,1,0,1],'c':[-2.,5,8,-2.5]})
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [31]:
frame.rank(axis='columns', method='min')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

## 描述性统计

In [ ]:
sum()按行或列求和，通过skipna实现不排除NA值
积累型方法：cumsum()